<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript Bundle with Popper -->
    
    <script src="/main.js"></script>
    <title>Panaderia</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


</head>

{{>header}}

<body>
{{>carousel}}
<div class="card-group" class="bg-grey">
    <div class="card">
      <img src="./images/panlacteado.jpg" class="card-img-top" alt="panes">
      <div class="card-body">
        <h5 class="card-title">Panes lacteados</h5>
        <p class="card-text">Disfrutá de nuestros panes lacteados.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="./images/pansemillas.jpg" class="card-img-top" alt="panes"> 
      <div class="card-body">
        <h5 class="card-title"> Nuestros panes</h5>
        <p class="card-text">Probá nuestros deliciosos panes caseros.</p>

      </div>
    </div>
    <div class="card">
      <img src="./images/macarons.jpg" class="card-img-top" alt="onlineshopping">
      <div class="card-body">
        <h5 class="card-title">Macarons</h5>
        <p class="card-text">¡Degustá nuestros macarons!</p>
        
      </div>
    </div>
</nav>  
  </div>



{{>footer}}



</body>

</html>